 html, body { background: black; color: white}
.generator {
    border: 4px solid rgb(87, 87, 87);
    background-color: rgb(49, 49, 49);
    text-align: center;
    width: 300px;
    padding: 15px;


}
